@background-color: #232a31;
@text-color: white;
@secondary-text-color: #01a9d8;
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

body {
  display: flex;
  height: 100vh;
  flex-flow: row nowrap;
  color: blue;
  overflow: hidden;
  background-color: @background-color;
  color: @secondary-text-color;
  font-family: 'Montserrat', sans-serif;
}

#app {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
  height: 100vh;
  border: thin solid black;
}

.dashboardMain {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
  justify-content: space-around;
  border: thin solid black;
}

.subscriptionMain {
  display: flex;
  flex-flow: column nowrap;
  border: thin solid black;
  width: 40%;
}

.revenueMain {
  display: flex;
  flex-flow: column nowrap;
  border: thin solid black;
  width: 60%;
}

.monthlyRevenue {
  margin: 1%;
  border: thin solid black;
  flex: 1;
}

.revenueGraph {
  margin: 1%;
  flex: 2;
  border: thin solid black;
  height: 60%;
}

.addSubscriptions {
  margin: 1%;
  flex: 1;
  border: thin solid black;
}

.subscriptionsList {
  margin: 1%;
  flex: 2;
  border: 2px solid @secondary-text-color;
  border-radius: 5px;
  height: 60%;
  overflow: scroll;
  display: flex;
  flex-flow: column;
}

.subscriptionListEntry {
  margin: 2% 2%;
  padding-left: 2%;
  border: none;
  border-radius: 2px;
  padding-bottom: 2%;
  background-color: white;
}

.subscriptionRow h4 {
  color: black;
  margin: 1%;
}

.subscriptionFilter {
  width: 95%;
  margin: 3% auto;
  padding: 5%;
  border: 2px solid white;
  border-radius: 2px;
  outline: none;
  background-color: white;
  font-size: 1em;
  &:focus {
    box-shadow: 0 0 10px 1px white;
  }
}
